<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stevevu.noclookup" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_blue"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatListing"
            android:label="@string/title_activity_cat_listing" >
        </activity>
        <activity
            android:name=".NOCDetails"
            android:label="@string/title_activity_nocdetails"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SearchNOC"
            android:label="@string/title_activity_search_noc" >
        </activity>
    </application>

</manifest>
